/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
/* toto je černá magie, na kterou nešahej! */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY
czechitas                 #b92e81
šedé pozadí stránky       #bdc3c7
tmavé pozadí pod textem   #31363b
dělítka mezi tlačítky     #3f464d
tlačítko portfolio        #e74c3c
tlačítko facebook         #3b5998
tlačítko twitter          #1da1f2
*/


body {
  background-color: #bdc3c7;
}

.foto {
  width: 300px;
  position:relative;
  top: 20px;
  overflow:auto;
  margin-left:20px;
}

.obsah {
  width: 300px;
  background-color: #31363b;
  color: lightgrey;
  font-family: "Montserrat", sans-serif;
  padding: 10px 20px 25px 20px;
  position:relative;
  top: 15px;
  margin-left: 20px;
}
.logo {
  position: relative;
  background-color:#b92e81;
  border-radius: 50%;
  right: 80px;
  bottom: -50px;
  z-index: 100;
  box-shadow: 3px 5px #25282b;
}
.odkazy {
  overflow: hidden;
  background-color: #31363b;
  width: 300px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: -1px;
  border: 1px solid #3f464d;
  margin-left: 20px;
  padding: 0;
}
.odkazy li {
  display: inline-block;
}
.odkazy a {
  display: block;
  text-decoration: none;
  color: lightgrey;
  padding: 10px 20px 10px 20px;
}
.portfolio { 
  width: 100%;
  text-align: center;
}
.facebook {
  width: 50%;
  border: 1px solid #3f464d;
  text-align: center;
}
.twitter {
  width: 50%;
  border: 1px solid #3f464d;
  text-align: center;
}
.portfolio a:hover {
  background-color: #e74c3c;
  color:white;
  padding: 10px 25px 10px 25px;
}
.facebook a:hover {
  background-color: #3b5998;
  color: white;
}
.twitter a:hover {
  background-color: #1da1f2;
  color: white;
}

